<h2>Sign up</h2>
<div class="row">
  <div class="span6 offset3">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>

	<fieldset>
        <div class="control-group">
		  <%= f.label "Email", :class=>"control-label" %>
		  <div class="controls"><%= f.email_field :email %></div><br />

		  <%= f.label "Κωδικός", :class=>"control-label" %>
		  <div class="controls"><%= f.password_field :password %></div><br />

		  <%= f.label "Επιβεβαίωση κωδικού", :class=>"control-label" %>
		  <div class="controls"><%= f.password_field :password_confirmation %></div><br />

		  	<div class="form-actions">
		  		<%= f.submit "Εγγραφή", :class=>"btn btn-medium btn-primary" %>
		  		
		  		
		  	</div>
		</div> <!-- .control-group -->
	</fieldset>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
</div>
