<h1>Επεξεργασία πελάτη</h1>


<div class="row">
  <div class="span6 offset3">


    <!-- Form errors messages -->
    <%= render 'shared/error_messages' %>


    <%= form_for @customer, :html => {:class => "form-horizontal"} do |f| %>
    <fieldset>
      <div class="control-group">

          <%= f.label "Όνομα", :class=>"control-label" %>
          <div class="controls"><%= f.text_field :name %></div><br />

          <%= f.label :email, :class=>"control-label" %>
          <div class="controls"><%= f.text_field :email %></div><br />

          <%= f.label "Διεύθυνση", :class=>"control-label" %>
          <div class="controls"><%= f.text_field :address %></div><br />
          
          <%= f.label "Τηλέφωνο", :class=>"control-label" %>
          <div class="controls"><%= f.text_field :tel %></div><br />
          
          <%= f.label "ΑΦΜ", :class=>"control-label" %>
          <div class="controls"><%= f.text_field :afm %></div><br />

          <div class="form-actions">
            <%= f.submit "Ενημέρωση στοιχείων", class: "btn btn-nedium btn-primary" %>
          </div>
      </div> <!-- .control-group -->
    </fieldset>

    <% end %>

<%= link_to 'Αναλυτικά στοιχεία', @customer, :class=>'btn btn-medium' %> |
<%= link_to 'Επιστροφή', customers_path, :class=>'btn btn-medium' %>

</div>
</div>
