<h1>Επεξεργασία ονόματος χώρου</h1>

<div class="row">
  <div class="span6 offset3">

<%= form_for @domain, :html => { :class => "form-horizontal" } do |f| %>

	<% if @domain.errors.any? %>
	  <div id="error_explanation">
	    <div class="alert alert-error">
	      The form contains <%= pluralize(@domain.errors.count, "error") %>.
	    </div>
	    <ul>
	    <% @domain.errors.full_messages.each do |msg| %>
	      <li>* <%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

    <fieldset>
        <div class="control-group">
            <%= f.label "Όνομα χώρου", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :name %></div><br />
          
            <%= f.label "Κατοχύρωση", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :registration, :class =>"datepicker" %></div><br />

            <%= f.label "Ανανέωση", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :renewal, :class =>"datepicker" %></div><br />
          
            <%= f.label "Λήξη", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :expiration, :class =>"datepicker" %></div><br />

            <%= f.label "DNS 1", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :dns1 %></div><br />
             
            <%= f.label "DNS 2", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :dns2 %></div><br />

            <%= f.label "Κωδικός εξουσιοδότησης", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :epp %></div><br />

            <%= f.label "Κατάσταση", :class=>"control-label" %>
            <div class="controls"><%= f.text_field :status %></div><br />
          
            <%= f.label "Ιδιοκτήτης", :class=>"control-label" %>
            <div class="controls"><%= collection_select(:domain, :customer_id, Customer.all, :id, :name, {:prompt => 'Επιλογή ιδιοκτήτη'}) %></div><br />
            <%#= f.select("customer", "customer_id", Customer.all.collect {|p| [ p.name, p.id ] }, 
            	{:include_blank => 'None'})
            %>
            <%#= options_from_collection_for_select(Customer.all, :id, :name) %>
            <%#= f.text_field @customers %>

            <div class="form-actions">
                <%= f.submit "Ενημέρωση ονόματος", class: "btn btn-medium btn-primary" %>
                <%= link_to 'Επιστροφή', domains_path, :class=>'btn btn-medium'  %>
            </div>
        </div> <!-- .control-group -->
    </fieldset>
    <% end %>




</div>
</div>