<h1>Ονόματα χώρου</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Κατάσταση</th>
    <th>Όνομα</th>
    <th>Καταχώρηση</th>
    <th>Ανανέωση</th>
    <th>Πελάτης</th>
    <th>Κόστος</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><i class='<%= status(Domain,domain.id,domain.renewal) %>'></i></td>
    <td><%= domain.name %></td>
    <td><%= domain.registration %></td>
    <td><%= domain.renewal %></td>
    <td><%= domain.customer.name %></td>
    <td><%= domain.price %>€</td>
    <td><%= link_to 'Περισσότερα', domain, :class=>'btn btn-medium' %></td>
    <td><%= link_to 'Επεξεργασία',edit_domain_path(domain), :class=>'btn btn-medium' %></td>
    <td><%= link_to 'Διαγραφή', domain, confirm: 'Είστε σίγουρος?', method: :delete, :class=>'btn btn-medium btn-danger' %></td>
  </tr>
  </tr>
<% end %>
</table>


