<%= form_for(@hosting) do |f| %>
  <% if @hosting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hosting.errors.count, "error") %> prohibited this hosting from being saved:</h2>

      <ul>
      <% @hosting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :registration %><br />
    <%= f.text_field :registration %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br />
    <%= f.text_field :expiration %>
  </div>
  <div class="field">
    <%= f.label :renewal %><br />
    <%= f.text_field :renewal %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
