<h1>Πακέτα φιλοξενίας</h1>
<i class="icon-ok"></i>Ενεργά    <i class="icon-exclamation-sign"></i>Λήγουν   <i class="icon-remove"></i>Έλειξαν   
<table class="table table-striped table-condensed">
  <tr>
    <th>Κατάσταση</th>
    <th>Όνομα</th>
    <th>Καταχώρηση</th>
    <th>Ανανέωση</th>
    <th>Πελάτης</th>
    <th>Κόστος</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @hostings.each do |hosting| %>
      <tr>
        <td><i class='<%= status(Hosting,hosting.id,hosting.renewal) %>'></i></td>
        <td><%= hosting.name %></td>
        <td><%= hosting.registration %></td>
        <td><%= hosting.renewal%></td>
        <td><%= hosting.customer.name %></td>
        <td><%= hosting.price %>€</td>
        <td><%= link_to 'Περισσότερα', hosting, :class=>'btn btn-medium' %></td>
        <td><%= link_to 'Επεξεργασία', edit_hosting_path(hosting), :class=>'btn btn-medium' %></td>
        <td><%= link_to 'Διαγραφή', hosting, confirm: 'Είστε σίγουρος?', method: :delete, :class=>'btn btn-medium btn-danger' %></td>
      </tr>
      
      <% end %>
</table>

<br />

<%#= link_to 'Νεο πακέτο', new_hosting_path, :class=>'btn btn-medium btn-primary' %>
