<h1>Πακέτο φιλοξενίας: <%= @hosting.name %></h1>
<table class="table table-striped table-condensed">
  <tr><td><b>Κατάσταση:</b></td><td> <i class='<%= status(Hosting,@hosting.id,@hosting.renewal) %>'></i></td></tr>
  <tr><td><b>Κατοχύρωση:</b></td><td> <%= @hosting.registration %></td></tr>
  <tr><td><b>Ανανέωση:</b></td><td> <%= @hosting.renewal %></td></tr>
  <tr><td><b>Τιμή:</b></td><td> <%= @hosting.price %>€</td></tr>
  <tr><td><b>Ιδιοκτήτης:</b></td><td> <%= @hosting.customer.name %></td></tr>
</table>


<!-- <h1>Expiration: <%#= @exp.month %> </h1>
<h1>Twra: <%#= @now.month %> </h1>
<h1>Idia: <%#= @idia %> </h1>
<h2><%#= distance_of_time_in_words_to_now(from_time, include_seconds = false) %></h2> -->

<%= link_to 'Επεξεργασία', edit_hosting_path(@hosting), :class=>'btn btn-medium' %> |
<%= link_to 'Επιστροφή', hostings_path, :class=>'btn btn-medium' %>
