<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hosting.name %>
</p>

<p>
  <b>Registration:</b>
  <%= @hosting.registration %>
</p>

<p>
  <b>Expiration:</b>
  <%= @hosting.expiration %>
</p>

<p>
  <b>Renewal:</b>
  <%= @hosting.renewal %>
</p>

<p>
  <b>Customer:</b>
  <%= @hosting.customer_id %>
</p>

<h1>Expiration: <%#= @exp.month %> </h1>
<h1>Twra: <%#= @now.month %> </h1>
<h1>Idia: <%#= @idia %> </h1>
<h2><%#= distance_of_time_in_words_to_now(from_time, include_seconds = false) %></h2>


<%= link_to 'Edit', edit_hosting_path(@hosting) %> |
<%= link_to 'Back', hostings_path %>
