    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "PRSERVICES", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if admin_signed_in? %>
              <li><%= link_to "Αρχική",    '/' %></li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Ονόματα χώρου <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Εμφάνιση όλων", domains_path %></li>
                  <li><%= link_to "Δημιουργία Νέου", new_domain_url %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Αποστολή email", domains_email_path %>
                  </li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Πακέτα φιλοξενίας <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Εμφάνιση όλων", hostings_path %></li>
                  <li><%= link_to "Δημιουργία Νέου", new_hosting_url %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Αποστολή email", hostings_email_path %>
                  </li>
                </ul>
              </li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Πελάτες <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Εμφάνιση όλων", customers_url %></li>
                  <li><%= link_to "Δημιουργία Νέου", new_customer_url %></li>
                </ul>
              </li>

              <li><%= link_to "Help",    '/help' %></li>
              <li>
                    <%= link_to('Αποσύνδεση', destroy_admin_session_path, :method => :delete) %>

                    <% else %>

                    <li><%= link_to('Είσοδος', new_admin_session_path)  %></li>

                  <% end %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>